.backgrounds {
    width: 100%;
    height: 100%;
    position: fixed;
        -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: -1; 
}

.backgrounds .background {
    background: url('../img/bg-masthead.jpg') no-repeat center center fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
}

.overlay:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #fff;
    opacity: .3;
}

.header {
    text-align: center;
    height: 100vh;
}

.header i.fa {
	text-align: center;
	color: grey;
	margin-top: 1rem;
	font-size: 70px;
}

.header i.fa:hover {
	color: #999999;
}

.section-heading {
	text-align: center;	
    vertical-align: inherit;
    padding-top: 15rem;
}

.section-heading .header-text-typer {
	display: inline-block;
	font-size: 65px;
	font-weight: 500;
}

.logo {
    background: white;
    width: 130px;
    height: 130px;
    float: left;
    position: absolute;
    left: 50%;
    padding-top: 9.5px;
    transition: all .5s;
    margin-left: -65px;
    text-align: center;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, .3);
}

.logo a {
    display: block;
    padding: 0;
}
    
.logo-inner {
    background: url('../img/logo-small.png') top center;
    background-size: 90px 111px;
    width: 90px;
    height: 111px;
    margin: 0 auto;
}

#apply {
    background-image: url('../img/apply.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

